@import "tailwindcss";



@theme {
  --container-container: 1170px;
  --color-primary: #192239;
  --color-secondary: #FF7628;
  --color-pera: #6C7D93;
  --color-card: #202427;
  --font-open: "Open Sans", "sans-serif";
  --font-paprika: "Paprika", "system-ui";
  --font-roboto: "Roboto", "sans-serif";
  --font-work: "Work Sans", "sans-serif";
  --font-nunito: "Nunito", "sans-serif";
}
